{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center px-5">

    <h3 class="text-justify">O objetivo deste trabalho foi desenvolver um software web que utilize noções de banco de
        dados, praticando controle de versão, com a finalidade de gerenciamento educacional. O
        software tem por finalidade registrar e controlar o ensino das competências definidas na Base
        Nacional Comum Curricular, de acordo com as adaptações estabelecidas pelo Currículo
        Paulista, visando auxiliar os docentes, coordenação pedagógica e direção de uma escola pública
        estadual de Sorocaba a acompanharem, de forma eficiente e integrada, as competências e
        habilidades trabalhadas em sala de aula.</h3>

    <h4 class="mt-4">Este foi um desenvolvimento realizado pelo seguinte grupo:</h4>

    <dl class="mt-4 pi-integrantes">
        <dt> Adriano Aparecido de Oliveira </dt>
        <dt> Camille Ayume de Melo Kamimura </dt>
        <dt> Danilo Felippe Pascoalim </dt>
        <dt> Diego Elson Nabeiro </dt>
        <dt> Flávio Leonel de Carvalho </dt>
        <dt> Juliano Correa Lopes </dt>
        <dt> Renan Gomes </dt>
    </dl>


</div>

{% endblock %}