{% load static %}

{% block content %}
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow px-2 py-1 fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/logo-univesp.png' %}" alt="Logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'aboutus' %}">Sobre nós</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cadastrar-aula' %}">Cadastro das Aulas</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Minhas Aulas</a>
                </li>
                {% endif %}
            </ul>
            
        </div>
        {% include 'log-in.html' %}
    </div>
</nav>
{% endblock %}