{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login - Portal BNCC
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-header">
          <h4>Login</h4>
        </div>
        <div class="card-body">
          {% if error_message %}
          <div class="alert alert-danger" role="alert">
            {{ error_message }}
          </div>
          {% endif %}
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Usuário (RG)</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
              <label for="password">Senha</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-4">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
